@tailwind base;
@tailwind components;
@tailwind utilities;

@import "lightgallery/css/lightgallery.css";
@import "lightgallery/css/lg-thumbnail.css";
@import "lightgallery/css/lg-zoom.css";

@font-face {
  font-family: "BillCorporateNarrow";
  src: url("./fonts/bill-corporate-narrow.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "BillCorporateNarrow";
  src: url("./fonts/billcorpnar-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Azahra";
  src: url("./fonts/Azahra.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Emilio";
  src: url("./fonts/Emilio-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Emilio";
  src: url("./fonts/Emilio-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Emilio";
  src: url("./fonts/Emilio-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Emilio";
  src: url("./fonts/Emilio-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Emilio";
  src: url("./fonts/Emilio-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Emilio";
  src: url("./fonts/Emilio-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --background: #f4f1e1;
  --primary: #536942;
  --secondary: #8c8554;

  --background_2: #eddfe0;
  --primary_2: #be1522;
  --secondary_2: #a1676b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: "Emilio", serif;
}

/* scroll bar */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.masonry {
  column-count: 2;
  column-gap: 1rem;
}

@media (min-width: 640px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}
